<!DOCTYPE html>
<html lang="en">

<head>
    <title>Monitor</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body class="container">

    <main id="main-container">
        <div class="box-blue">
            Último reporte: <%= dateFormat.format(data[0].createdat,'YYYY/MM/DD HH:mm:ss') %>
            <p>Temperatura: <%= data[0].temperature %> </p>
            <p>Humedad: <%= data[0].humidity %> </p>
        </div>

        <%- include('partials/historialTable.ejs') %>
        <%- include('partials/barchart.ejs') %>

    </main>
</body>

</html>